<div layout="row" layout-align="center start">
  <div flex="30">
    <div layout="row" layout-align="center center">
      <div flex="100">
        <md-button class="md-raised md-primary">Inicio</md-button>
      </div>
    </div>
    <div layout="row" layout-align="center center">
      <div flex="100">
        <a ui-sref="main.devices" class="md-raised md-primary">Dispositivos</a>
      </div>
    </div>
    <div layout="row" layout-align="center center">
      <div flex="100">
        <md-button class="md-raised md-primary">Zonas</md-button>
      </div>
    </div>
    <div layout="row" layout-align="center center">
      <div flex="100">
        <md-button class="md-raised md-primary">Configuración</md-button>
      </div>
    </div>
  </div>
  <div flex="70">
    <div ui-view=""></div>
  </div>
</div>
